// ========================================================================================================================================================
// Tabs
.tabs {
	::-webkit-scrollbar {
		height: toRem(1.5);
		border-radius: toRem(10);
		background-color: $bgColor;
	}
	::-webkit-scrollbar-thumb {
		border-radius: toRem(10);
		background-color: $blueColor;
	}
	// .tabs__navigation
	&__navigation {
		display: flex;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
		padding-bottom: toRem(15);
		border-bottom: 1px solid $blueColor;
		@include adaptiveValue("gap", 50, 15);
	}
	// .tabs__title
	&__title {
		font-weight: 600;
		transition: color 0.3s ease 0s;
		@include adaptiveValue("font-size", 18, 16);
		&._tab-active {
			color: $blueColor;
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
		border-bottom: 1px solid $blueColor;
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		span {
			display: flex;
		}
	}
}
// ========================================================================================================================================================
