// ========================================================================================================================================================
// <QUANTITY>
.quantity {
	display: flex;
	gap: toRem(10);
	// .quantity__button
	&__button {
		height: 40px;
		width: toRem(14);
		text-align: center;
		font-size: toRem(24);
		transition: color 0.3s ease 0s;
		// .quantity__button_plus
		&--plus {
			@media (any-hover: hover) {
				&:hover {
					color: $blueColor;
				}
			}
		}
		// .quantity__button_minus
		&--minus {
			@media (any-hover: hover) {
				&:hover {
					color: $redColor;
				}
			}
		}
	}
	// .quantity__input
	&__input {
		overflow: hidden;
		input {
			height: toRem(40);
			font-size: 14px;
			width: toRem(40);
			text-align: center;
			border-radius: toRem(4);
			outline-color: $purpleColor;
			background-color: $bgColor;
			border: toRem(1) solid #ebebeb;
		}
	}
}
// ========================================================================================================================================================
