// ========================================================================================================================================================
// Cart
.cart {
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
	}

	&__thowars {
	}
}
// ========================================================================================================================================================
// Basket
.basket {
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
	}

	&__body {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__thowars {
		.thowars__button {
			padding: toRem(0) toRem(20);
		}
	}

	&__item {
		padding-bottom: toRem(30);
		border-bottom: toRem(1) solid $purpleColor;
		&:not(:first-child) {
			padding-top: toRem(30);
		}
	}

	&__subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16);
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__options {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__select {
		max-width: toRem(315);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	&__label {
		display: flex;
		&--max {
			max-width: toRem(635);
		}

		&--min {
			max-width: toRem(285);
		}
	}

	&__file {
		display: flex;
		gap: toRem(15);
		align-items: center;
		&::before {
			opacity: 0.4;
			font-size: toRem(24);
			transition:
				opacity 0.3s ease 0s,
				color 0.3s ease 0s;
		}
		span {
			text-decoration: underline;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
					color: $greenColor;
				}
				span {
					text-decoration: none;
				}
			}
		}
	}

	&__form {
		max-width: toRem(775);
	}
}
// ========================================================================================================================================================
// Confirm
.confirm {
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}

	&__body {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}

	&__thowars {
	}

	&__order {
		display: flex;
		gap: toRem(15);
		align-items: center;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(10);
			align-items: start;
			flex-direction: column;
		}
	}

	&__svg {
		width: toRem(36);
		height: toRem(36);
	}

	&__subtitle {
		font-weight: 500;
		line-height: 142%;
		@include adaptiveValue("font-size", 24, 18);
	}

	&__text {
	}
}
// ========================================================================================================================================================
