//========================================================================================================================================================
// Header
.header {
	z-index: 10;
	position: relative;
	border-bottom: toRem(1) solid $purpleColor;
	&__container {
	}

	&__top {
		z-index: 1;
		position: relative;
	}

	&__main {
	}
}
.top-header {
	display: flex;
	align-items: center;
	min-height: toRem(64);
	padding: toRem(15) toRem(0);
	justify-content: space-between;
	border-bottom: toRem(1) solid rgba($purpleColor, 0.2);
	@media (max-width: $mobile) {
		min-height: auto;
		padding: toRem(12) toRem(0);
	}
	&__locations {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 35, 10, 0, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			align-items: start;
			flex-direction: column;
		}
	}

	&__location {
		display: flex;
		gap: toRem(5);
		align-items: center;
		font-size: toRem(14);
		&::before {
			color: $purpleColor;
			font-size: toRem(20);
		}
		@media (max-width: $tablet) {
			&::before {
				font-size: toRem(18);
			}
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 35, 15, 2, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__links {
		display: flex;
		gap: toRem(25);
		align-items: center;
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
	}

	&__link {
		display: flex;
		gap: toRem(5);
		font-weight: 500;
		align-items: center;
		font-size: toRem(14);
		&::before {
			font-weight: 600;
			color: $purpleColor;
		}
		@media (max-width: toEm(349.98)) {
			&:first-child {
				display: none;
			}
		}
	}

	&__buttons {
		display: flex;
		gap: toRem(20);
		align-items: center;
		@media (max-width: $mobile) {
			gap: toRem(10);
		}
	}

	&__button {
		display: flex;
		width: toRem(28);
		height: toRem(28);
		position: relative;
		color: $purpleColor;
		align-items: center;
		font-size: toRem(28);
		justify-content: center;
		transition: color 0.3s ease 0s;
		span {
			top: -8px;
			right: -5px;
			display: flex;
			color: $bgColor;
			width: toRem(16);
			height: toRem(16);
			position: absolute;
			border-radius: 50%;
			align-items: center;
			font-size: toRem(12);
			justify-content: center;
			background-color: #088d2d;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
		@media (max-width: $mobile) {
			font-size: toRem(25);
		}
	}
}
.main-header {
	display: flex;
	align-items: center;
	column-gap: toRem(15);
	min-height: toRem(90);
	justify-content: space-between;
	@media (max-width: $mobile) {
		min-height: toRem(70);
	}
	&__logo {
		z-index: 1;
		display: flex;
		position: relative;
		color: $purpleColor;
		@include adaptiveValue("font-size", 45, 32, 0, $containerWidth, 767.98);
	}

	&__menu {
	}

	&__contacts {
	}

	&__contact {
		display: flex;
		font-weight: 700;
		line-height: 125%;
		white-space: nowrap;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 20, 18, 0, $containerWidth, 767.98);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//========================================================================================================================================================
