// ========================================================================================================================================================
// Head Title
.head-title {
	&:not(:last-child) {
		margin-bottom: toRem(20);
	}
	&__container {
	}

	&__title {
	}
}
// ========================================================================================================================================================
// Provide
.provide {
	@include adaptiveValue("padding-top", 45, 20);
	&__container {
	}

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 25);
		}
	}

	&__info {
	}
}
.info-provide {
	&__article {
		@include adaptiveValue("padding-top", 40, 25);
		&:not(:last-child) {
			border-bottom: toRem(1) solid $mainColor;
			@include adaptiveValue("padding-bottom", 40, 25);
		}
		@media (min-width: toEm(799.98)) {
			gap: toRem(15);
			display: grid;
			justify-content: space-between;
			grid-template-columns: 55.859375% 39.0625%;
		}
	}

	&__items {
		display: grid;
		line-height: 162%;
		row-gap: toRem(20);
		column-gap: toRem(15);
		grid-template-columns: repeat(2, 1fr);
		.block-contacts__item {
			width: 100%;
		}
		@media (min-width: toEm(799.98)) {
			.block-contacts__item {
				max-width: toRem(335);
			}
		}
		@media (max-width: $mobileSmall) {
			row-gap: toRem(10);
			grid-template-columns: auto;
		}
	}

	&__map {
		iframe {
			width: 100%;
			height: 100%;
			border: toRem(1) solid $grayColor;
		}
		@media (max-width: toEm(799.98)) {
			margin-top: toRem(15);
			iframe {
				height: toRem(250);
			}
		}
	}
}
// ========================================================================================================================================================
